.body-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 80vh;
}

.body-input {
	padding: 3px;
}

.body-btn {
	cursor: pointer;
	margin-left: 5px;
	margin-bottom : 5px;
	padding: 3px;
}
